body {
  padding-top: 25px;
}

.homepage {
  background-image: url('/assets/imgs/dinnerbg.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.home-header,
.home-text {
  color: white;
  padding-top: 100px;
  margin-left: 70px;
  text-shadow: black 3px 3px;
}

.navbar {
  background-color: rgb(92,2,0)
}

.nav-item a:hover {
  color: rgb(211, 170, 170)
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#menu1 {
  background-image: url('/assets/imgs/chickenimg.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  padding-top: 120px;
  color: white;
  text-shadow: black 2px 2px;
  font-size: 50px;
}

#menu2 {
  background-image: url('/assets/imgs/barbecueimg.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  padding-top: 120px;
  color: white;
  text-shadow: black 2px 2px;
  font-size: 50px;
}

#menu3 {
  background-image: url('/assets/imgs/fishimg.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  padding-top: 120px;
  color: white;
  text-shadow: black 2px 2px;
  font-size: 50px;
}
